$body_bg: #090c27;
$primary_color: #d083ff;
$primary_color_500: #bd57fb;
$green_color: #57fba0;
$dark_color: #464547;
$white_color: #ffffff;
$red_color: #ff0000;
$gradient_color: linear-gradient(to right, rgba(134, 5, 214, 1) 0%, rgba(67, 3, 107, 1) 100%);
$input_color: #9b9b9b;
$input_bg: #1a1a1a;
$input_border_color: #363636;
$header_color: #121632;
$sidebar_color: #191d37;
$border_color: rgb(255 255 255 / 10%);
