// @import "~bootstrap/scss/bootstrap-grid";
// @import "~bootstrap/scss/bootstrap-reboot";
// @import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap-utilities";

@import "_variables.scss";
@import "_font.scss";
@import "_mixin.scss";
@import "_themeColors.scss";
@import "_space.scss";

/*==========Common CSS ==========*/

:root {
    --side-bar-width: 280px;
    --body-space: 0;
    --header-height: 80px;
    --border-radius: 8px;
}

[class*="col-"] {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden !important;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    font-family: $body_font;
    text-rendering: optimizespeed !important;
    background-color: $body_bg;
    padding: var(--body-space);
    padding-right: 0;
    color: $white_color;
}

button,
input,
select,
optgroup,
textarea {
    color: $white_color;
    font-size: 16px;
    line-height: 26px;
}

img {
    max-width: 100%;
}

section {
    position: relative;
}

.sec_wp {
    position: relative;
    z-index: 4;
}

.wow {
    visibility: hidden;
}

.for_des {
    display: block !important;
}

.for_mob {
    display: none !important;
}

.for_des_flex {
    display: flex !important;
}

.for_mob_flex {
    display: none !important;
}

.back_img {
    @include back_img;
}

.divider {
    display: block;
    width: 100%;
    height: 2px;
    background: rgba($dark_color, 0.04);
}

.main_container {
    width: calc(100% - var(--side-bar-width));
    margin-left: auto;
    padding: 0 var(--body-space);
    position: relative;
    transition: 0.3s;
}

.error-msg,
.success-msg {
    border-color: $red_color;
    --background-color: rgb(255 4 4 / 8%);
    display: none;
    font-size: 14px;
    line-height: 1.3;
    color: $red_color;
    background: var(--background-color);
    padding: 13px 15px;
    border-radius: $border_color;
    text-transform: capitalize;
    border: 1px solid currentColor;
}

.error-border {
    border: 1px solid $red_color;
}

.form_input.input_error {
    border-color: rgb(255 0 0/60%) !important;
}

#contact-support .screen-reader-response {
    display: none;
}

.success-msg {
    border-color: $green_color;
    --background-color: rgb(87 251 160 / 10%);
    color: $white_color;
}

.contact-support-image-err {
    margin-bottom: 10px !important;
}

textarea[name="user_payment_description"] {
    border-radius: 6px !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255 255 255 / 20%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 50%);
}

.badge {
    border-color: $red_color;
    --background-color: rgb(255 4 4 / 8%);
    font-size: 14px;
    line-height: 1.3;
    color: $border_color;
    background: var(--background-color);
    padding: 8px 12px;
    border-radius: $border_color;
    text-transform: capitalize;
    border: 1px solid currentColor;

    &.badge-minus {
        border-color: $red_color;
        --background-color: rgb(255 4 4 / 8%);
    }

    &.badge-plus {
        border-color: $green_color;
        --background-color: rgb(87 251 160 / 8%);
    }

    i {
        margin-left: 6px;
    }

    i.fa-eye {
        margin-left: 12px;
        cursor: pointer;
    }
}

.row {
    &.g-10 {
        --bs-gutter-x: 10px;
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));

        > [class*="col-"] {
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }

    &.g-20 {
        --bs-gutter-x: 20px;
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));

        > [class*="col-"] {
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }
}

img {
    height: auto;
    max-width: 100%;
}

/*==========Common CSS End==========*/

/*==========Form CSS==========*/

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block !important;
}

.form-element {
    position: relative;

    i {
        position: absolute;
        top: 15px;
        left: auto;
        right: 20px;
        pointer-events: none;
        color: $primary_color;
        transform: none;
    }
}

.form_input_wp {
    margin-bottom: 18px;
    display: block;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 20px;

        ~ input {
            padding-left: 50px !important;
        }
    }

    .fa-eye {
        cursor: pointer;
    }

    &.generated-referral-link {
        display: flex;
        align-content: center;
        justify-content: space-between;

        a {
            display: block;
            word-break: break-word;
            font-size: 14px;
            line-height: 1.4;
            color: $white_color;
            text-decoration: underline !important;
            transition: 0.3s;

            &:hover {
                color: $primary_color;
            }
        }

        button.sec-btn {
            i {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:after,
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

.form_input::-webkit-input-placeholder {
    color: $input_color;
}

.form_input::-moz-placeholder {
    color: $input_color;
}

.form_input:-ms-input-placeholder {
    color: $input_color;
}

.form_input::-ms-input-placeholder {
    color: $input_color;
}

.form_input::placeholder {
    color: $input_color;
}

select option {
    color: $white_color !important;
}

select::-ms-expand {
    display: none;
}

.form_input,
select:not(.picker select),
.dataTables_wrapper .dataTables_filter input.form_input,
.dataTables_wrapper .dataTables_length select {
    width: 100%;
    height: 46px;
    border: 2px solid $input_border_color;
    outline: none !important;
    padding: 0 20px;
    color: $white_color;
    background: $input_bg;
    -webkit-appearance: none;
    border-radius: 6px;
    font-size: 15px;
}

textarea.form_input {
    height: 102px;
    resize: none;
    padding: 12px 18px;
    display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 2px solid $input_border_color;
    -webkit-text-fill-color: $white_color;
    -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip-inner {
    background: rgba(0 0 0 / 90%) !important;
    color: $white_color;
    backdrop-filter: blur(60px);
    border: 2px solid $border_color;
    text-transform: capitalize;
}

.bs-tooltip-top .tooltip-arrow:before {
    border-top-color: rgba($white_color, 15%);
    z-index: 1;
    margin-top: -1px;
    backdrop-filter: blur(3px);
}

.form_checkbox {
    i {
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $white_color;
        border-radius: 50%;
        color: $dark_color;
        font-size: 12px;
        margin-left: 2px;
    }
}

.form_input_wp i {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
}

.form_input_wp i ~ input {
    padding-left: 50px !important;
}

.form_input_wp .fa-eye {
    cursor: pointer;
}

.input-group-prepend {
    display: flex;
    margin-right: -1px;
}

.input-group-text {
    display: flex;
    align-items: center;
    background: $border_color;
    border: 2px solid $border_color;
    color: rgb(255 255 255 / 50%);
    font-size: 15px;
    padding: 8px 14px;
    border-radius: $border_radius 0 0 $border_radius;
    border-right: 0;
}

.form_checkbox {
    display: flex;
    align-items: center;
    position: relative;
}

.form_checkbox input[type="checkbox"],
input#direct,
input#received {
    min-width: 1.5em;
    height: 1.5em;
    margin: 0;
    outline: none !important;
    overflow: hidden;
    background: rgb(103 58 183 / 40%);
    border: 2px solid rgb(255 255 255 / 30%);
    box-shadow: none;
    margin-right: 10px;
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.form_checkbox input[type="checkbox"]:checked::before,
input#direct:checked::before,
input#received:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    padding-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_chocbox-header {
    display: flex;
    /* margin-bottom: 15px; */
    align-items: center;
}

.form_chocbox-header > span {
    margin-right: 20px;
    font-size: 16px;
    color: $green_color;
    font-weight: 500;
    text-transform: none;
}

.form-check-label {
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.5px;
    /* vertical-align: top; */
}

.form_checkbox:not(.form_chocbox-header .form_checkbox, .form_checkbox_group .form_checkbox:last-of-type) {
    margin-bottom: 14px;
}

.form_chechbox-sec-wp .form_chechbox-sec .form_checkbox {
    margin-bottom: 0 !important;
}

.form_chechbox-sec-wp > div:last-child {
    border: 0;
}

.form_chechbox-sec-wp {
    display: flex;
    margin: 30px 0;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.form_chechbox-sec-wp > div,
.two_col:first-child {
    margin-right: 30px;
    border-right: 2px solid $border_color;
    /* padding-right: 30px; */
}

.form_input-list .form_input_wp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_input-list .form_input_wp .form-check-label {
    flex: 1;
    margin-right: 20px;
}

.form_input-list .form_input_wp .form_input {
    width: 100px;
    padding: 0 32px 0 10px;
}

.form_input-number {
    position: relative;
}

.form_input-number i {
    left: auto;
    right: 16px;
    font-size: 14px;
    opacity: 0.6;
}

.form_input:disabled,
.form_input[readonly] {
    background: $border_color;
    border: 2px solid $border_color;
    color: $white_color;
    font-size: 15px;
    box-shadow: none !important;
    padding: 6px 12px;
}

.form_input_group {
    display: flex;
    margin-bottom: 18px;
}

.form_input_group .d-flex {
    flex: 1;
}

.form_input_group .form_input:last-of-type {
    border-radius: 0 $border_radius $border_radius 0;
}

.form_input_group .form_input + .form_input {
    border-left: 0;
}

.form_input_group .form_input {
    border-radius: 0;
}

.form_input_group .form_right_group {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/*==========Form CSS End==========*/

/*==========Typography CSS==========*/

p {
    @include font-size($p_font_sizes);
    color: $white_color;

    &.big_text {
        @include font-size($big_p_font_size);
    }

    &.small_text {
        @include font-size($small_p_font_size);
    }

    &:empty {
        display: none;
    }
}

a {
    text-decoration: none !important;
    outline: none !important;
    color: $dark_color;

    &:hover {
        color: initial;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title_font;
    font-weight: bold;
}

.h1_title,
.h2_title,
.h3_title,
.h4_title,
.h5_title,
.h6_title {
    span {
        display: block;
    }
}

.h1_title {
    @include font-size($h1_font_sizes);
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.h2_title {
    @include font-size($h2_font_sizes);
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;
}

.h3_title {
    @include font-size($h3_font_sizes);
}

.h4_title {
    @include font-size($h4_font_sizes);
}

.h5_title {
    font-size: 18px;
    line-height: 28px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*==========Typography CSS End==========*/

/*==========Button CSS==========*/

.sec_btn {
    width: auto;
    height: 51px;
    background: transparent;
    border: 2px solid #8004cd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    -webkit-appearance: none;
    font-size: 16px;
    color: $white_color;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none !important;
    transition: 0.3s;
    padding: 0 3.2em;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(134, 5, 214, 1) 0%, rgba(67, 3, 107, 1) 100%);
        z-index: -1;
        transform: scaleX(1);
        transform-origin: left;
        -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1),
            -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white_color;
        z-index: -1;
        transition: 0.3s;
        transform: scaleX(0);
        transform-origin: right;
        -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
        transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1),
            -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
    }

    &:hover {
        color: $dark_color;

        &:before {
            transform: scaleX(1);
            transform-origin: left;
        }

        &:after {
            transform: scaleX(0);
            transform-origin: right;
        }
    }

    &.sm_btn {
        width: auto;
        padding: 0 22px;
        height: 42px;
        font-weight: 500;
    }

    &.outline_btn {
        background: transparent;
        color: $dark_color;
        border-color: $dark_color;

        &:hover {
            background: $dark_color;
            color: $white_color;
        }
    }

    i {
        --btn-icon-space: 8px;
        margin-left: var(--btn-icon-space);
    }

    [disabled] {
        opacity: 0.8;
        cursor: not-allowed;
    }

    &.icon_btn {
        padding: 0;
        min-width: 36px;
        height: 36px;

        i {
            margin: 0;
        }
    }
}

.button_group {
    display: inline-flex;

    .sec_btn {
        + .sec_btn {
            margin-left: 10px;
        }
    }
}

.double-icon-btn {
    position: relative;
    i {
        font-size: 15px;

        &:first-child {
            font-size: 9px;
            position: absolute;
            top: 6px;
            left: 4px;
        }
    }
}

/*==========Button CSS End==========*/

/*==========White text CSS==========*/

.white_text,
.dark_section {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul li,
    label,
    .read_more {
        color: $white_color;
    }
}

.white_list_link {
    a {
        color: $white_color;
    }
}

.white_arrow_dots {
    .slick-dots li button {
        border-color: $white_color;
    }
    .slick-dots li.slick-active button,
    .slick-dots li button:hover {
        background: $white_color;
    }

    .slick-arrow {
        background: $white_color;
        color: $dark_color;
    }

    .slick-arrow:hover {
        background: $dark_color;
        color: $white_color;
    }
}

.white_btn {
    background: $white_color;
    color: $dark_color;
    border-color: $white_color;
}

.white_form {
    .form-input,
    select {
        background: transparent;
        border-color: $white_color;
        color: $white_color;
    }

    .form_input::-webkit-input-placeholder {
        color: $white_color;
    }

    .form_input::-moz-placeholder {
        color: $white_color;
    }

    .form_input:-ms-input-placeholder {
        color: $white_color;
    }

    .form_input::-ms-input-placeholder {
        color: $white_color;
    }

    .form_input::placeholder {
        color: $white_color;
    }

    select {
        color: $white_color !important;
    }

    .form-element {
        i {
            color: $white_color;
        }
    }
}

/*==========White text CSS End==========*/

/*==========loader CSS==========*/

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark_color;
    z-index: 99;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white_color;
    }
}

/*==========loader CSS End==========*/

/*==========Popup CSS==========*/

.modal-body.overflow-text {
    padding: 30px;
    max-height: 80vh;
    height: auto;
    overflow: hidden;
}

button.close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    opacity: 1 !important;
    text-shadow: none;
    border-radius: var(--border-radius);
    z-index: 2;
    color: $white_color;
    transition: 0.3s;
    outline: none;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

button.close:hover {
    background: #ebebeb;
    color: $red_color;
}

.modal-content {
    background: rgb(16 16 16 / 70%);
    border-radius: var(--border-radius);
    border: 2px solid $border_color;
    box-shadow: 0px 0px 160px rgb(255 255 255 / 8%);
}

.modal-dialog {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.modal-open .modal {
    padding: 0 15px !important;
    background: linear-gradient(to right, rgb(0 0 0 / 60%) 30%, rgb(67 3 107 / 0%) 100%);
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open {
    position: fixed;
    width: 100%;
}

.modal-backdrop {
    backdrop-filter: blur(8px);
    background-color: rgb(0 0 0 / 30%);
}

.modal-backdrop.show {
    opacity: 1;
}

.modal_title {
    text-transform: uppercase;
    color: var(--primary-color-500);
    margin-bottom: 18px;
}

.modal_tablist ul li {
    display: inline-flex;
    background: transparent;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
}

.modal_tablist ul {
    background: rgb(255 255 255 / 6%);
    border-radius: 30px;
    padding: 4px;
}

.modal_tablist ul li:hover:not(.modal_tablist ul .active_modal_tab) {
    background: $border_color;
}

.modal_tablist ul .active_modal_tab {
    background: $gradient_color;
}

.modal_tablist .error-tab {
    outline: 2px solid $red_color;
}

.modal_tablist .error-tab:before {
    content: "\f06a";
    font-family: "Font Awesome 5 Pro";
    border-radius: 50%;
    margin-right: 6px;
    color: $red_color;
}

.modal_form {
    max-width: 340px;
    margin: 40px auto 30px;
}

.commission-type-div {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.commission-type-div label {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}

.commission-type-div .form_input_wp {
    margin: 0;
    max-width: 340px;
}

.all-commission-main-box .form_chocbox-header > span {
    min-width: 60px;
}

.commissions_modal_form .form_chechbox-sec-wp > div:last-child {
    margin: 0;
}

.add_coin_group .sec-btn i {
    margin-right: var(--btn-icon-space);
    margin-left: 0;
}

.add_coin_group ul li {
    display: inline-block;
    margin: 0 4px 10px;
    float: left;
}

.add_coin_group ul li:first-child {
    margin-left: 0;
}

.add_coin_group ul li:last-child {
    margin-right: 0;
}

.add_coin_group ul li .sec-btn {
    font-weight: 500;
}

.add_coin_group {
    margin-bottom: 15px;
    display: flow-root;
}

.attachment_items ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.attachment_items ul li {
    text-align: center;
    flex: 1;
}

.attachment_items ul li .sec-btn,
.attach_proof_input .sec-btn {
    height: 51px;
    width: 51px;
}

.attachment_items ul li .sec-btn i,
.attach_proof_input .sec-btn i {
    font-size: 17px;
    margin: 0;
    position: unset;
    transform: translate(0);
}

.attachment_items {
    margin-bottom: 18px;
}

.attachment_items ul li .sec-btn input#attach_proof,
.attach_proof_input input {
    display: none;
    text-indent: -999px;
}

.attachment_items ul li .sec-btn label,
.attach_proof_input .sec-btn label {
    margin: 0;
    cursor: pointer;
    display: inline-flex;
}

.attachment_items ul li .sec-btn label:after,
.attach_proof_input .sec-btn label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.attachment_items_comment {
    display: none;
    margin-bottom: 18px;
}

.attachment_items_comment.proof_comment_open {
    display: block;
}

.attach_proof_preview img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

.attach_proof_preview {
    text-align: center;
    position: relative;
    display: inline-block;
}

.attach_proof_preview .close {
    top: -10px;
    right: -10px;
}

.attach_proof_preview_wp {
    text-align: center;
    margin-top: 26px;
}

.form_checkbox_group {
    flex-direction: column;
}

.two_col_row {
    display: flex;
    margin-bottom: 20px;
}

.two_col {
    flex: 1;
}

.user_info_list li label {
    margin: 0;
    width: 80px;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 8px;
}

.user_info_list li {
    margin-bottom: 12px;
    display: flex;
}

.user_info_list li a {
    color: var(--primary-color-500);
}

.user_info_list li span {
    color: var(--input-color);
    flex: 1;
}

.structure_list {
    --ul-left-space: 12px;

    padding-left: var(--ul-left-space);
    margin-bottom: var(--ul-left-space);
}

.structure_list:last-of-type {
    margin: 0;
}

.structure_list ul {
    list-style: disc;
    padding-left: var(--ul-left-space);
    padding-top: 3px;
}

.structure_list ul li::marker {
    color: var(--primary-color);
}

.structure_list li {
    --li-left-space: 10px;
    margin-left: calc(var(--li-left-space) * var(--data-count));
    list-style: disc;
}

.structure_list li::marker {
    color: var(--primary-color-500);
}

.two_col .h6-title {
    margin-bottom: 10px;
}

.form_chechbox-sec-wp .form_input-sec_list:not(.form_chechbox-sec-wp .form_input-sec_list:last-child) {
    border-bottom: 2px solid $border_color;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.settle_dropdown {
    max-width: 300px;
    margin: 15px auto 0;
}

.form_chocbox-header .form-element .form_input {
    padding-right: 37px;
}

#login-history .faulh-wrapper #faulh-search-form,
#login-history .faulh-wrapper hr,
#login-history .faulh-wrapper #faulh_update_user_timezone,
#login-history table th a .sorting_hover,
#login-history table th a .sorting {
    display: none !important;
}

.trp-ls-shortcode-current-language {
    width: 100% !important;
    cursor: pointer;
    min-height: 44px;
    backdrop-filter: blur(8px);
    background: $border_color;
}

a.trp-ls-shortcode-disabled-language,
.language-switcher-active .trp-ls-shortcode-language a {
    color: $white_color !important;
    display: flex;
    width: 100%;
    align-items: center;
}

.trp-flag-image {
    margin-right: 8px;
}

a.trp-ls-shortcode-disabled-language:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    margin-left: auto;
    transition: 0.3s;
}

.language-switcher-active a.trp-ls-shortcode-disabled-language:after {
    transform: rotate(180deg);
}

.trp-language-switcher.trp-language-switcher-container {
    position: relative;
    margin-bottom: 10px;
}

.language-switcher-active .trp-ls-shortcode-language {
    display: block !important;
    width: 100% !important;
    padding: 10px 12px;
}

.trp-ls-shortcode-language .trp-ls-shortcode-disabled-language:after {
    display: none;
}

.language-switcher-active .trp-ls-shortcode-language a.trp-ls-shortcode-disabled-language {
    display: none;
}

.language-switcher-active .trp-ls-shortcode-language a {
    color: $white_color;
}

.language-switcher-active .trp-ls-shortcode-language:last-of-type {
    padding-bottom: 0;
}

.contact_support_form_flex_box {
    display: flex;
    gap: 15px;
}

.contact_support_form_flex_box .form_input_wp:first-child {
    flex: 1;
}

.contact_support_form_flex_box .form_input_wp.attach_proof_input {
    min-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3px;
}

.contact_support_form_flex_box .form_input_wp.attach_proof_input span {
    font-size: 14px;
}

.contact-support-attach-images a.mfcf7_zl_delete_file {
    display: none;
}

.form_input_group.add_player_credits_info {
    flex-direction: column;
    row-gap: 20px;
}

.add_player_credits_info .form_right_group {
    margin: 0;
    column-gap: 20px;
}

.add_player_credits_info .form_checkbox_group {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.add_player_credits_info .form_checkbox_group .form_checkbox {
    margin: 0 !important;
}

/*==========Popup CSS End==========*/

/*==========Data Table Sec CSS==========*/

.dataTable {
    border: 1px solid $border_color;
    border-radius: $border_radius;
    width: 100% !important;
}

.rdt_Table {
    .rdt_TableHead {
        .rdt_TableHeadRow {
            border: none;

            .rdt_TableCol {
                white-space: nowrap;
                padding: 14px 10px;
                border: 1px solid $border_color;
                color: $white_color;

                .rdt_TableCol_Sortable {
                    font-weight: bold;
                }
            }
        }
    }

    .rdt_TableBody {
        .rdt_TableRow {
            border: none;

            .rdt_TableCell {
                white-space: nowrap;
                padding: 14px 10px;
                border: 1px solid $border_color;
                color: $white_color;
            }
        }
    }

    * {
        font-size: 16px;
    }
}

.dataTables_wrapper {
    #withdrawal_data_length {
        margin-bottom: 40px;
    }

    .dataTables_length {
        label {
            color: $white_color;
            margin: 0;
            text-transform: capitalize;
            position: relative;
        }

        select {
            width: 60px;
            display: inline-block;
            margin: 0 5px;
            -webkit-appearance: auto;
            -moz-appearance: auto;
            padding: 0 0px 0 9px;
            height: 34px;
        }
    }

    .dataTables_filter {
        text-align: left;
        float: none;
        width: 100%;

        label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            color: $white_color;
            position: relative;
            display: block;
            margin: 0;

            &:after {
                content: "\f002";
                font-family: "Font Awesome 5 Pro";
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translate(0, -50%);
                opacity: 0.8;
            }
        }

        input {
            margin-left: 0.5em;
            display: inline-block;
            width: auto;
        }

        input.form_input {
            margin: 0;
            max-width: 340px;
            padding-left: 40px;
        }
    }

    .dataTables_info {
        padding-top: 0.85em;
        color: #fff;
    }

    .dataTables_paginate {
        margin: 0;
        /* white-space: nowrap; */
        text-align: right;

        .pagination {
            margin: 2px 0;
            white-space: nowrap;
            justify-content: flex-end;
        }

        .paginate_button {
            border: 1px solid $border_color !important;
            color: $white_color !important;
            margin: 0 3px;
            border-radius: var(--border-radius);
            display: inline-flex;
            padding: 0 10px;
            min-width: 40px;
            justify-content: center;
            min-height: 32px;
            align-items: center;
            transition: 0.3s;
            box-shadow: none !important;

            &.current,
            &.current:hover,
            &:hover {
                background: var(--primary-color-500);
                color: $white_color !important;
            }
        }

        .paginate_button.next {
            margin-right: 0 !important;
        }

        .paginate_button.previous {
            margin-left: 0 !important;
        }
    }
    .finance-operations-top-bar {
        display: flex;
        gap: 15px;
        max-width: 600px;

        .dataTables_filter#finance_operations_filter {
            flex: 1;

            input {
                max-width: 100%;
            }
        }

        .table_submit_button {
            max-width: 100%;
        }
    }
}

#withdrawal_data_wrapper .dataTables_paginate {
    padding-top: 14px;
}

.common_page_loader {
    --size: 100%;
    --position: 0;
    position: absolute;
    top: var(--position);
    left: var(--position);
    width: var(--size);
    height: var(--size);
    text-align: center;
    padding: 15px;
    margin: 0;
    z-index: 9;
    background: rgba(225, 225, 225, 10%);
    color: $white_color;
    border: 2px solid $border_color;
    border-radius: 0;
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: none;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 40px;
    }
}

.table_attachment_row {
    position: relative;
    width: 50px;
    text-align: center;
}

.table_attachment_hover {
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    gap: 15px;
    padding-right: 15px;
    transform: translateX(50px);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.table_attachment_row > .sec-btn:hover ~ .table_attachment_hover,
.table_attachment_hover:hover {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.table_filter_topbar {
    margin-bottom: 30px;
}

.table_custom_filter {
    text-align: right;
}

.table_custom_filter .modal_tablist {
    display: inline-block;
}

.table_filter_bottombar {
    margin-top: 30px;
}

.table_btn_group {
    ul {
        display: flex;

        li {
            margin: 0 6px;

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.player-bet-won td,
.bet-won {
    color: #32cd32;
}

.player-bet-loss td,
td.player-bet-loss,
.bet-loss {
    color: #ff3333;
}

.player-bet-won {
    color: #32cd32;
}

.player-data-last-update {
    color: $red_color;
}

#casino_report .bet-events-div {
    margin-top: 10px;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - var(--gap)), 1fr));
    gap: var(--gap);
}

/*==========Data Table Sec CSS End==========*/

/*==========Header CSS==========*/

.navbar_wp {
    text-align: right;
}

.site_header {
    padding: 5px 30px;
    border-bottom: 1px dashed $input_border_color;
    background: $header_color;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar_wp {
    ul {
        li {
            display: inline-flex;
            align-items: center;
            margin: 0 3px;
            position: relative;

            span {
                margin-left: 12px;
                flex: 1;
                text-align: start;
                display: flex;
                align-items: center;
                transition: 0.3s;
                white-space: nowrap;
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            .header_notification {
                b {
                    font-weight: normal;
                    position: absolute;
                    top: -4px;
                    right: -6px;
                    line-height: 1;
                    padding: 2px;
                    background: $primary_color;
                    border-radius: 50%;
                    font-size: 12px;
                    min-width: 18px;
                    min-height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            ul {
                position: absolute;
                top: 100%;
                right: 0;
                width: 200px;
                text-align: start;
                background: rgb(18 22 50 / 22%);
                border-radius: $border_radius;
                border: 1px solid rgba($white_color, 15%);
                padding: 10px;
                margin-top: 20px;
                backdrop-filter: blur(20px);
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                z-index: 99;

                li {
                    display: block;
                    margin: 0;
                    margin-bottom: 6px;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }

            a {
                i {
                    transition: 0.3s;
                }
            }
        }
    }

    span.woocommerce-Price-amount.amount {
        margin: 0;
    }

    .woocommerce-Price-currencySymbol {
        display: inline-flex;
        margin: 0;
    }
}

.navbar_wp ul li a,
.trp-ls-shortcode-current-language {
    display: flex;
    align-items: center;
    padding: 2px 12px;
    border-radius: $border_radius;
    min-height: 38px;
    color: $white_color;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid rgba($white_color, 15%);
    position: relative;
    line-height: 1.6;
}

.navbar_wp ul li a:hover,
.nav_menu_open > a,
.active-nav > a {
    background: rgba($white_color, 12%);
}

.navbar_wp ul li a:hover ~ ul:not(.side_bar_nav ul li a:hover ~ ul),
.navbar_wp ul li ul:hover:not(.side_bar_nav ul li ul:hover) {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
}

.navbar_wp ul li a:hover i,
.nav_menu_open > a i,
.active-nav > a i {
    color: $primary_color;
}

/*==========Header CSS End==========*/

/*==========Login Page CSS==========*/

.login__page {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(9 12 39) 45%, rgba(0, 0, 0, 0) 130%);
    }
}

.login__form_wp {
    padding: 20px 0;
    max-width: 530px;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center stretch;

    .login__form {
        background: $border_color;
        padding: 60px 30px 70px;
        border-radius: 30px;
        border: 2px solid $border_color;
        box-shadow: 0px 0px 160px rgba($white_color, 8%);
        backdrop-filter: blur(10px);

        .form_submit {
            margin-top: 22px;
            display: flex;
            align-items: center;
        }

        .load-more {
            margin-left: 10px;
            font-size: 22px;
            display: none;
        }
    }
}

.login_form_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

/*==========Login Page CSS End==========*/

/*==========Side Bar CSS==========*/

.side_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--side-bar-width);
    height: 100%;
    min-height: 100vh;
    background: $sidebar_color;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
    transition: 0.3s;
}

.header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px dashed $input_border_color;
    justify-content: center;
    min-height: var(--header-height);
    transition: 0.3s;
}

.header-logo img {
    max-width: 130px;
    transition: 0.3s;
}

.side_bar_nav {
    margin-top: 30px;
    padding: 0 15px;

    ul {
        li {
            margin: 0;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            z-index: 2;

            a {
                color: $white_color;
                width: 100%;
                min-height: 48px;
                padding: 10px 15px;
            }

            span {
                position: relative;
                display: flex;
                overflow: hidden;
                text-overflow: ellipsis;
                align-items: center;

                i {
                    margin-left: auto;
                }
            }

            ul {
                width: 100%;
                right: auto;
                left: 0;
                transition: none;

                li {
                    a {
                        i {
                            margin: 0;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    .current_menu_active {
        + ul {
            position: relative;
            margin-top: -4px;
            padding-top: 14px;
            border-top: 0;
            border-radius: 0 0 $border_radius $border_radius;
            z-index: -1;
            transition: none;
            visibility: visible;
            opacity: 1;
        }

        a {
            width: 0;
            margin: 0;
            flex: 0;
            white-space: nowrap;
            opacity: 0;

            span {
                i {
                    transform: rotate(90deg);
                    padding-right: 4px;
                }
            }
        }
    }
}

.collapse-menu-active {
    --side-bar-width: 60px;

    .side_bar {
        a {
            justify-content: center;
            padding: 0;

            span {
                width: 0;
                margin: 0;
                flex: 0;
                white-space: nowrap;
                opacity: 0;
            }

            i {
                margin: 0;
            }
        }

        li.collapse_menu {
            i {
                transform: scale(-1, 1);
            }
        }
    }

    .side_bar_nav {
        padding: 0 5px;

        .nav_menu_open {
            .current_menu_active {
                + ul {
                    padding: 11px 4px 7px;
                }
            }
        }
    }

    .header-logo {
        img {
            max-width: 50px;
        }
    }
}

/*==========Side Bar CSS End==========*/

/*==========Main Content Sec CSS End==========*/

.main_content_box {
    padding: 30px;
}

.title_bar {
    margin-bottom: 40px;

    .h1-title {
        margin: 0;
    }
}

/*==========Main Content Sec CSS End==========*/

/*==========Dashboard Page CSS==========*/

.dashboard_box {
    display: grid;
    place-content: center stretch;
    border-radius: $border_radius;
    background: $header_color;
    border: 2px solid $border_color;
    padding: 15px;
    place-items: center;
    margin-bottom: var(--bs-gutter-x);
    height: calc(100% - var(--bs-gutter-x));

    .button_group {
        margin-bottom: 26px;
    }

    [class*="-title"] {
        font-weight: 600;
        margin-bottom: 25px;
        color: $primary_color_500;
        text-shadow: 0 0 20px rgb(255 255 255 / 30%);
        text-align: center;
    }
}

.dashboard_list {
    // margin-bottom: 20px;

    li {
        label {
            margin-right: 5px;
            margin-bottom: 0.5rem;
        }
        span {
            color: $white_color;
            opacity: 0.7;
        }
    }
}

.dashboard_chart {
    width: 100%;

    canvas {
        width: 100% !important;
    }
}

/*==========Dashboard Page CSS End==========*/

/*==========user page CSS==========*/

.user_map li a {
    color: $white_color;
    position: relative;
    display: inline-block;
    --opacity: 0.6;
    transition: 0.3s;
}

.user_map li {
    position: relative;
}

.user_map li ul a:before {
    content: "-";
    margin-right: 3px;
    opacity: var(--opacity);
    pointer-events: none;
}

.user_map li ul {
    --list-left-space: clamp(10px, 1.8vw, 24px);
    padding-left: var(--list-left-space);
}

.user_map li ul a:after {
    content: "|_";
    position: absolute;
    top: -7px;
    left: -14px;
    letter-spacing: -3px;
    opacity: var(--opacity);
    pointer-events: none;
}

.user_map {
    padding: 15px;
    background: $border_color;
    border-radius: var(--border-radius);
    border: 2px solid $border_color;
}

.user_map li.user_dropdown > i {
    margin: 0 3px;
    font-size: 16px;
    color: var(--primary-color);
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $white_color;
    border-radius: 4px;
    cursor: pointer;
}

.user_map li.user_dropdown > i:before {
    transition: 0.3s;
}

.user_map li.user_dropdown.hide > i:before {
    transform: rotate(-90deg);
}

.user_map li ul ul {
    padding-left: calc(var(--list-left-space) * 1.5);
}

.user_map li.user_dropdown > a {
    margin-bottom: 2px;
    max-width: clamp(80px, 65%, 100%);
}

.user_map ul li ul li.user_dropdown > a:after {
    left: calc(var(--list-left-space) * -2.25);
}

.user_map ul ul li.user_dropdown i {
    margin-left: calc(var(--list-left-space) * 0.65);
    vertical-align: top;
    position: relative;
    top: 4px;
}

.user_map ul li ul li.user_dropdown > a:before {
    position: absolute;
    left: calc(var(--list-left-space) * -1.67);
}

.user_map li a:hover,
.user_map li.current_user > a {
    color: var(--primary-color-500);
}

.user_main_sec_content {
    --size: 400px;
}

.user_main_sec_content > .row > .col-lg-3 {
    flex: 0 0 var(--size);
    max-width: var(--size);
}

.user_main_sec_content > .row > .col-lg-9 {
    flex: 0 0 calc(100% - var(--size));
}

.user_map .form_checkbox {
    justify-content: right;
}

.user_map .form_checkbox input[type="checkbox"] {
    min-width: 1.2em;
    height: 1.2em;
}

.user_map .form_checkbox input[type="checkbox"]:before {
    font-size: 9px;
}

.user_map .form_checkbox .form-check-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.agent-tree-modal-btn {
    display: none;
}

/*==========user page CSS End==========*/
